*{
    box-sizing: border-box;
}
body{
    height: 100vh;
   
    background-color: rgb(20, 120, 187) !important;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.btn{
    width: 10rem;
    height: 4rem;
    font-size: 2rem !important;

}
.city{
    margin-top: 2rem;
    
    width: 45vw;
    
    font-size: 2rem;
   border: none;
   outline: none;
    background-color: rgb(20, 120, 187);
    color: white;
    
    text-decoration-style: none;
    border-bottom: 2px solid white;
    margin-right: 1rem;
    
}
.city::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:white;
  opacity: 1; /* Firefox */
}

.baslik{
    margin-top: 2rem;
    font-size: 6rem !important;
}
.ekran{
    display: flex;
    text-align: center;
}
.not{
   
    height: 2rem;
   width: 100%;
    color: white !important;
    font-size: 1.3rem;
   
  padding-left: 8rem;
    
    
    
}
.card{
    border-radius: 20px !important;
    box-shadow: 10px 20px  lightblue;
}
.ülke{
    padding: 2px 4px;
    border-radius: 8px;
}
.sup{
    font-weight: 300;
}
